fieldset, body {
    background:url(bg_top_img.jpg)
}

#errMess2 {
    opacity: 0;
}

.swellTime{
    animation-name: swell;
    animation-duration: 3s;
}

@keyframes swell {    

    0% {}
    25% {}
    50% {font-size: large; font-style: oblique;}
    75% {}
    100% {font-style: initial; text-transform: initial; text-decoration: none;}
}   


.bodyIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.indexLabel {
    margin-top: 20vh;
    color: darkseagreen;
}

#ageErreur {
    margin: 0 auto;
    text-align: center;
}

.spinIt {
    transition: transform 2s ease-in-out;
    transform: rotateY(-1440deg);
}

.formField {    
    margin: 20vh auto 2vh;
    
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#myForm {
    color: darkseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#toggleShow {
margin: 5px;
    max-width: 6vw;
}

.errorMess {
    text-align: center;
    margin: 0 auto;
    color: darkseagreen;
}